body {
  font-family:Candara, "Trebuchet MS", Trebuchet, sans-serif;
}

.img-circle {
    border-radius: 50%;
}

#header {
    float: center;
    padding: 0 200px 40px 0;
    display: inline;
}

h1{
  text-align: center;
}

nav{
  font-colour:white
}
