body {
  font-family:'', Helvetica, sans-serif
}

.img-circle {
    border-radius: 50%;
}

h1{
  font-size: 72;
  text-align: center;
  font-weight: 100;
}

h2{
  font-size: 56;
  text-align: center;
  font: navy blue;
  font-weight:100;
}
